# Virtual Environments (Strict Dot Match)
.venv/
venv/
ENV/
env/
# Secret API Keys and Credentials
.env
# IDE & Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
# Heavy Data & Model Weights
weights/
chroma_storage/
*.zip
*.tar.gz
*.json
!app/static/*.json
# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/